<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>Controleur.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Controleur.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturationServlet</servlet-name>
        <servlet-class>Controleur.FacturationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeFacturationServlet</servlet-name>
        <servlet-class>Controleur.ListeFacturationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutEnteteServlet</servlet-name>
        <servlet-class>Controleur.AjoutEnteteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLigneServlet</servlet-name>
        <servlet-class>Controleur.AjoutLigneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecouvrementServlet</servlet-name>
        <servlet-class>Controleur.RecouvrementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReglementFactureServlet</servlet-name>
        <servlet-class>Controleur.ReglementFactureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturationServlet</servlet-name>
        <url-pattern>/FacturationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeFacturationServlet</servlet-name>
        <url-pattern>/ListeFacturationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutEnteteServlet</servlet-name>
        <url-pattern>/AjoutEnteteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLigneServlet</servlet-name>
        <url-pattern>/AjoutLigneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecouvrementServlet</servlet-name>
        <url-pattern>/RecouvrementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReglementFactureServlet</servlet-name>
        <url-pattern>/ReglementFactureServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
